<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/JetBrains/WafilifeAutomationTest">
        <classes>
            <class name="testCases.TestCases">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                    <include name="testLoginWithInValidCredentials"/>
                    <include name="testLoginWithValidEmailButWrongPassword"/>
                    <include name="testLoginWithValidPasswordButWrongEmail"/>
                    <exclude name="testLoginWithOutEmailAndPassword"/>
                </methods>
            </class>
            <class name="testCases.TestLogin">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                    <include name="testShippingWithValidCredentials"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>